<div id="{{crime['_key']}}" 
    class="crime-data-filter" 
    data-latitude="{{crime['latitude']}}" 
    data-longitude="{{crime['longitude']}}"
    data-severity="{{crime['severity']}}"
    data-location="{{crime['location']}}"
    data-description="{{crime['description']}}"
    >
    <div id="crime-template">
        <div id="crime-_key" class="font-bold pt-4 text-pink-400">Crime ID: {{crime["_key"]}}</div>
        <div id="crime-severity">Severity: {{crime["severity"]}}</div>
        <div id="crime-location">Location: {{crime["location"]}}</div>
        <div id="crime-description">Description: {{crime["description"]}}</div>
        <div id="crime-committed_at">Committed at: {{crime["committed_at"]}}</div>
    </div>
</div>

