%include("_header")


<div id="hero" class="relative z-0 h-32 sm:h-48 md:h-50 lg:h-72 xl:h-96 2xl:h-120 object-cover">
    <img src="/img/pawel-czerwinski-kxblPqfYc9E-unsplash.jpg" alt="orilaunch" class="absolute rounded-br-[4rem] w-full" />
    <!-- Photo by <a href="https://unsplash.com/@pawel_czerwinski?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Pawel Czerwinski</a> on <a href="https://unsplash.com/photos/white-and-gray-pills-beside-jar-with-pills-kxblPqfYc9E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->
    <h1 class="text-4xl font-bold text-pink-400">Welcome to ORILaunch</h1>
</div>





%include("_footer")